<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.ReceiptSheetDao">
    <insert id="saveSheet">
        insert into receipt_sheet (id, supplier, operator, total_amount, `state`, create_time)
        values (#{id},#{supplier},#{operator},#{totalAmount},#{state},#{createTime});
    </insert>

    <insert id="saveBatchSheetContent" useGeneratedKeys="true" keyProperty="id">
        insert into receipt_sheet_content (receipt_sheet_id,bank_account,transfer_amount,remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.receiptSheetId},#{item.bankAccount},#{item.transferAmount},#{item.remark})
        </foreach>
    </insert>

    <update id="updateSheetState">
        update receipt_sheet
        set state = #{state}
        where id = #{sheetId}
    </update>

    <update id="updateSheetStateOnPrev">
        update receipt_sheet
        set state = #{state}
        where id = #{sheetId} and state = #{prev}
    </update>

    <select id="getLatestSheet" resultType="com.nju.edu.erp.model.po.ReceiptSheetPO">
        select * from receipt_sheet order by id desc limit 0,1 ;
    </select>

    <select id="findAllSheet" resultType="com.nju.edu.erp.model.po.ReceiptSheetPO">
        select * from receipt_sheet;
    </select>

    <select id="findContentBySheetId" resultType="com.nju.edu.erp.model.po.ReceiptSheetContentPO">
        select * from receipt_sheet_content where receipt_sheet_id = #{sheetId};
    </select>

    <select id="findSheetById" resultType="com.nju.edu.erp.model.po.ReceiptSheetPO">
        select * from receipt_sheet where id = #{id};
    </select>

    <select id="findAllByState" resultType="com.nju.edu.erp.model.po.ReceiptSheetPO">
        select * from receipt_sheet where state = #{state}
    </select>

    <select id="findAllByCreateTime" resultType="com.nju.edu.erp.model.po.ReceiptSheetPO">
        select * from receipt_sheet where create_time between #{beginTime} and #{endTime}
    </select>

    <select id="findAllByCustomerId" resultType="com.nju.edu.erp.model.po.ReceiptSheetPO">
        select * from receipt_sheet where supplier = #{id}
    </select>

    <select id="findAllByOperatorName" resultType="com.nju.edu.erp.model.po.ReceiptSheetPO">
        select * from receipt_sheet where operator = #{operator}
    </select>
</mapper>